html{
	padding:0;
	margin:0;
	font-size: 62.5%;
	background:#F3F3F2;
}
ul,p{
	padding:0;
	margin:0;
}
li{
	list-style: none;
}
.item{
	float: left;
	height:12rem;
	width:50%;
	background:white;
	line-height: 12rem;
	text-align: center;
	font-size: 40px;
	color:#ABABAC;
}
.content{
	float: left;
	width:100%;
	background:white;
	margin-top:6rem;
}
.title{
	float: left;
	width:92%;
	color:#3E3A39;
	font-size: 55px;
	padding:4%;
}
.pro{
	float: left;
	width:96%;
	padding:0 2%;
}
.pro li{
	float: left;
	width:46%;
	margin:0 2%;
}
.pro img{
	float: left;
	height:40rem;
	width:100%;
	margin:;
}
.clearfix::after{
	height:0;
	display: block;
	content: "";
	clear:both;
}
.desc-box{
	float: left;
	width:100%;
}
.title-pro{
	font-size:40px;
	color:#3E3A39;
	margin:26px 0 20px 0;
}
.desc-pro{
	font-size:34px;
	color:#ABABAC;
	margin-bottom:16px;
}
.price-pro{
	font-size: 40px;
	color:#DD1944;
	margin-bottom: 14px;
}